<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile page ejs</title>
  </head>
  <body>
    <style>
      * {
        margin: 0;
      }
      h1 {
        padding: 12px 18px;
      }
      p {
        padding: 12px 18px;
      }
      span {
        padding: 12px 18px;
      }
    </style>
    <%- include('common/header'); %>

    <h1>Welcome <%= users.name%></h1>
    <p><%= users.description%></p>
    <span><%= users.email%></span>
    <h2>Skills</h2>
    <% users.skills.forEach((item) => { %>
    <li><%= item %></li>
    <% })%>
  </body>
</html>
